body{
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-family: 'Courier New', Courier, monospace;
}
header{
    text-align: center;
    background-color: rgb(75, 71, 71);
    color: white;
    padding: 20px;
}
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}
section{
    padding: 20px;
    border:  2px solid #ccc;
    background-color: antiquewhite;
    margin: 20px;
    border-radius: 8px;
}
article{
    margin-top: 10px;
    padding-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius:8px;
}
h2{
    margin-top: 10px;
    padding:20px;
    font-size:2em;
}
footer{
    text-align: center;
    background-color: rgb(75, 71, 71);
    color: white;
    padding:20px;
}
