body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

h2 {
    color: #333;
}
section {
    margin: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 10px auto;
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    
    width: 100%;
}
