header, section, footer {
    padding: 20px;
    text-align: center;
    background-color: #333;
    color: #fff;
    
}

h1 {
    margin: 0;
}

ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
    
}

li {
    background-color: #425543; 
    color: black;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

footer {
    margin-top: 20px;
    background-color: #333;
    color: #fff;
}